# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Logs
*.log

# Databases
*.db
*.sqlite
*.sqlite3

# Session files
*.session

# OS files
Thumbs.db
.DS_Store

# Large dataset files
data/myauto/data.csv
data/myauto/images/
